#app {
  width: 550px;
  height: 100vh;
  border-radius: 8.95px;
  background: #fff;
}

.card-list {
  display: flex;
  gap: 18px;
  overflow-x: auto;
  padding-inline: 36px;
  margin-top: 50px;
}

::-webkit-scrollbar {
  display: none;
}
