* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Inter, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  padding: 31px 26px;
  height: 90px;
}

.nav-logo {
  margin-right: 7px;
}

.nav-title {
  /* ReactFacts */
  margin-right: auto;

  font-weight: 700;
  font-size: 22.2535px;
  line-height: 27px;
  letter-spacing: -0.05em;

  color: #61dafb;
}

.nav-subtitle {
  /* extra title */
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: right;

  color: #deebf8;
}

main {
  /* main section */
  background: #282d35;
  height: 100vh;
  color: #ffffff;
}

.main-title {
  /* title */
  padding-top: 57px;
  padding-left: 27px;
  font-weight: 700;
  font-size: 39.06px;
  line-height: 47px;
  letter-spacing: -0.05em;
}

.main-list {
  margin-top: 46px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.main-list > li {
  padding-block: 10px;
  max-width: 390px;
}
